<nav>
    <div class="navbar">
        <div class="navItem">home</div>
        <div class="navItem">dash</div>
        <div class="navItem">login</div>
    </div>
    <div class="titleContainer">

        <h2 class="title">The Tech Blog</h2>
    </div>
</nav>