<body>

    {{>navbar}}
    <div class="blog-post">
        <div class="blog-header">
            <h3 class="blog-title">New Post</h3>
        </div>
    </div>
    <div class="blog-content">
        <form class="post-form">
            <label for="title">title</label>
            <input type="text" id="title" name="title">
            <label for="content">content</label>
            <input type="text" id="content" name="content">
            <button type="submit">submit</button>
        </form>
    </div>
</body>