<div class="blog-post">
    <div class="blog-header">
        <h3 class="blog-title">Sign Up</h3>
    </div>
    <div class="blog-content">
        <form id="signin-form">
            <label for="user">username</label>
            <input type="text" id="usernameSignup" name="user">
            <label for="pass">password</label>
            <input type="text" id="passwordSignup" name="pass">
            <button type="submit">sign up</button>
        </form>
        <div id="failure"></div>
    </div>
</div>